* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .img-curve {
  width: 45vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
}

.container .img-bg {
  width: 45vw;
  height: 50rem;
  position: absolute;
  right: 70px;
  bottom: 90px;
  z-index: -5;
}

@media (max-width: 1440px) {
  .container .img-bg {
    width: 40rem;
    height: 40rem;
    bottom: 150px;
  }
}

@media (max-width: 1120px) {
  .container .img-bg {
    width: 25rem;
    height: 28rem;
    bottom: 260px;
  }
}

@media (max-width: 900px) {
  .container .img-bg {
    width: 25rem;
    height: 22rem;
    bottom: 500px;
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 480px) {
  .container .img-bg {
    width: 18rem;
    height: 18rem;
    bottom: 400px;
    right: 50%;
    transform: translateX(50%);
  }
}

.container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  position: relative;
}

@media (max-width: 900px) {
  .container .card {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 100vh;
  }
}

.container .card .img-quotes {
  position: absolute;
  top: 15%;
  left: 0;
  z-index: -5;
}

@media (max-width: 1440px) {
  .container .card .img-quotes {
    top: 10%;
  }
}

@media (max-width: 1120px) {
  .container .card .img-quotes {
    top: 0;
  }
}

@media (max-width: 900px) {
  .container .card .img-quotes {
    top: 55%;
    left: 40%;
  }
}

@media (max-width: 480px) {
  .container .card .img-quotes {
    top: 53%;
    left: 40%;
    width: 7rem;
    height: 7rem;
  }
}

.container .card .description {
  font-size: 2.5rem;
  padding-right: 2rem;
}

@media (max-width: 1440px) {
  .container .card .description {
    font-size: 2.2rem;
  }
}

@media (max-width: 1120px) {
  .container .card .description {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .container .card .description {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .container .card .description {
    font-size: 1.3rem;
    text-align: center;
  }
}

.container .card .prof-pic {
  height: 40rem;
  width: 40rem;
  position: relative;
  z-index: -2;
}

@media (max-width: 1440px) {
  .container .card .prof-pic {
    height: 30rem;
  }
}

@media (max-width: 1120px) {
  .container .card .prof-pic {
    width: 22rem;
    height: 22rem;
  }
}

@media (max-width: 900px) {
  .container .card .prof-pic {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 480px) {
  .container .card .prof-pic {
    width: 14rem;
    height: 14rem;
  }
}

.container .card .job-title {
  display: flex;
  font-size: 1.5rem;
  margin-top: 2rem;
}

@media (max-width: 1120px) {
  .container .card .job-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .container .card .job-title {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.container .card .job-title h4 {
  padding-right: 1rem;
}

@media (max-width: 900px) {
  .container .card .job-title h4 {
    padding: 0;
  }
}

.container .card .next-prev {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  box-shadow: grey 3px 5px 5px;
  width: 6rem;
  height: 3rem;
  position: absolute;
  bottom: -20px;
  right: 350px;
  z-index: 9;
  border-radius: 20px;
}

@media (max-width: 1120px) {
  .container .card .next-prev {
    right: 220px;
  }
}

@media (max-width: 900px) {
  .container .card .next-prev {
    right: 50%;
    bottom: 52%;
  }
}

@media (max-width: 480px) {
  .container .card .next-prev {
    right: 50%;
    transform: translateX(50%);
    bottom: 54%;
  }
}
/*# sourceMappingURL=style.css.map */