* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-curve {
        width: 45vw;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -5;
    }
    .img-bg {
        width: 45vw;
        position: absolute;
        right: 70px;
        top: 50px;
        z-index: -5;
    }
    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
        position: relative;

        .img-quotes {
            position: absolute;
            top: 20px;
            left: 0;
            z-index: -5;
        }
        .description {
            font-size: 3rem;
        }
        .prof-pic {
            height: 40rem;
            width: 40rem;
            position: relative;
            z-index: -2;
        }
        .job-title {
            display: flex;
            font-size: 1.5rem;
            margin-top: 2rem;
            
            h4 {
                padding-right: 1rem;
            }
        }
        .next-prev {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background:  hsl(0, 0%, 100%);
            box-shadow: grey 5px 10px 5px;
            width: 6rem;
            height: 3rem;
            position: absolute;
            bottom: -20px;
            right: 350px;
            z-index: 9;
            border-radius: 20px;
        }
    }
}

@media(max-width: 375px) {
    .card {
        flex-direction: column;
        background: greenyellow;
    }
}